<!DOCTYPE html>
<html lang="en">
  {% load static %}

  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title>Renix Academy</title>
    <link
      rel="stylesheet"
      href="{% static 'vendors/iconfonts/font-awesome/css/all.min.css' %}"
    />
    <link
      rel="stylesheet"
      href="{% static 'vendors/css/vendor.bundle.base.css' %}"
    />
    <link
      rel="stylesheet"
      href="{% static 'vendors/css/vendor.bundle.addons.css' %}"
    />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <link rel="shortcut icon" href="{% static 'images/favicon.png' %}" />
  </head>

  <body>
    <div class="container-scroller">
<nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row default-layout-navbar" >
<div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
  <a class="brand-logo navbar-brand">
    <img src="{% static 'images/logo.png' %}"  alt="logo"/></a>
    <a class="navbar-brand brand-logo-mini" href="../../index-2.html"
    > <img src="{% static 'images/logo.png' %}" 
    height="40px" weight="150px" alt="logo"/></a>
</div>
<div class="navbar-menu-wrapper d-flex align-items-stretch" >
  <button
  class="navbar-toggler navbar-toggler align-self-center"
  type="button"
  data-toggle="minimize"
>
  <span class="fas fa-bars"></span>
</button>
  <ul class="navbar-nav navbar-nav-right">
    <li class="nav-item d-none d-lg-flex">
      <a class="nav-link" href="{% url 'subscription' %}">
        <span class="btn btn-primary">Subscribe now</span>
      </a>
    </li>

    <li class="nav-item nav-profile dropdown">
      <a
        class="nav-link dropdown-toggle"
        href="#"
        data-toggle="dropdown"
        id="profileDropdown"
      >
        <img src="{% static 'images/faces/face5.jpg' %}" alt="profile" />
      </a>
      <div
        class="dropdown-menu dropdown-menu-right navbar-dropdown"
        aria-labelledby="profileDropdown"
      >
        <a class="dropdown-item">
          <i class="fas fa-cog text-primary"></i>
          Settings
        </a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="{% url 'sign_up' %}">
          <i class="fas fa-power-off text-primary"></i>
          Logout
        </a>
      </div>
    </li>
  </ul>
  <button
  class="navbar-toggler navbar-toggler-right d-lg-none align-self-center"
  type="button"
  data-toggle="offcanvas"
>
  <span class="fas fa-bars"></span>
</button>
</div>
</nav>

<!-- partial:partials/_sidebar.html -->
<div class="container-fluid page-body-wrapper">
<nav class="sidebar sidebar-offcanvas" id="sidebar">
  <ul class="nav">
    <li class="nav-item nav-profile">
      <div class="nav-link">
        <div class="profile-image">
          <img src="{% static 'images/faces/face5.jpg' %}" alt="image" />
        </div>
        <div class="profile-name">
          <p class="name">Welcome Jane</p>
          <p class="designation">Super Admin</p>
        </div>
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'index' %}">
        <i class="fa fa-th-large menu-icon"></i>
        <span class="menu-title">Dashboard</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'quizzes' %}">
        <i class="fa fa-puzzle-piece menu-icon"></i>
        <span class="menu-title">Quizzzes</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'quiz_attempts' %}">
        <i class="fa fa-cubes menu-icon"></i>
        <span class="menu-title">My Quiz Attempts</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'enrolled_courses' %}">
        <i class="fa fa-graduation-cap menu-icon"></i>
        <span class="menu-title">Enrolled Courses</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'myprofile' %}">
        <i class="far fa-user-circle menu-icon"></i>
        <span class="menu-title">My Profile</span>
      </a>
    </li>
  

    <li class="nav-item">
      <a class="nav-link" href="{% url 'subscription' %}">
        <i class="fa fa-fire menu-icon"></i>
        <span class="menu-title">Subscription</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'settings' %}">
        <i class="fa fa-cog menu-icon"></i>
        <span class="menu-title">Settings</span>
      </a>
    </li>
  </ul>
</nav>
<div class="main-panel">
    {% block body %} {% endblock body %}

       <!-- content-wrapper ends -->
    <!-- partial:partials/_footer.html -->
    <footer class="footer">
        <div class="d-sm-flex justify-content-center justify-content-sm-between">
          <span
            class="text-muted text-center text-sm-left d-block d-sm-inline-block"
            >Copyright © 2024 . All rights reserved.</span
          >
          <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center"
            >Renix Academy International </span>
        </div>
      </footer>
  </div>
</div>
    <script src="{% static 'vendors/js/vendor.bundle.base.js' %}"></script>
    <script src="{% static 'vendors/js/vendor.bundle.addons.js' %}"></script>
    <script src="{% static 'js/off-canvas.js' %}"></script>
    <script src="{% static 'js/hoverable-collapse.js' %}"></script>
    <script src="{% static 'js/misc.js' %}"></script>
    <script src="{% static 'js/settings.js' %}"></script>
    <script src="{% static 'js/todolist.js' %}"></script>
    <script src="{% static 'js/dashboard.js' %}"></script>
    <script src="{% static 'js/wizard.js' %}"></script>
    <script src="{% static 'js/quiz.js' %}"></script>

  </body>
</html>
