
{% load custom_filters %}
<!DOCTYPE html>
<html lang="en">
  {% load static %}

  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title>Renix Academy</title>
    <link
      rel="stylesheet"
      href="{% static 'vendors/iconfonts/font-awesome/css/all.min.css' %}"
    />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link
      rel="stylesheet"
      href="{% static 'vendors/css/vendor.bundle.base.css' %}"
    />
    <link
      rel="stylesheet"
      href="{% static 'vendors/css/vendor.bundle.addons.css' %}"
    />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <link rel="shortcut icon" href="{% static 'images/favicon.png' %}" />
  </head>

  <body>
    <div class="container-scroller">
<nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row default-layout-navbar" >
<div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
  <a class="brand-logo navbar-brand">
    <img src="{% static 'images/logo.png' %}"  alt="logo"/></a>
    <a class="navbar-brand brand-logo-mini" href="#"
    > <img src="{% static 'images/logo.png' %}"
    height="40px" weight="150px" alt="logo"/></a>
</div>
<div class="navbar-menu-wrapper d-flex align-items-stretch" >
  <button
  class="navbar-toggler navbar-toggler align-self-center"
  type="button"
  data-toggle="minimize"
>
  <span class="fas fa-bars"></span>
</button>
  <ul class="navbar-nav navbar-nav-right">
    {% if not request.has_active_subscription %}
    <li class="nav-item d-none d-lg-flex">
      <a class="nav-link" href="{% url 'quiz:subscription' %}">
        <span class="btn btn-primary">Subscribe</span>
      </a>
    </li>
  {% endif %}

    <li class="nav-item nav-profile dropdown">
      <a
        class="nav-link "
        href="{% url 'quiz:sign_out' %}"
      >
      <i class="fas fa-power-off text-primary"></i>
      Logout
      </a>

    </li>
  </ul>
  <button
  class="navbar-toggler navbar-toggler-right d-lg-none align-self-center"
  type="button"
  data-toggle="offcanvas"
>
  <span class="fas fa-bars"></span>
</button>
</div>
</nav>

<!-- partial:partials/_sidebar.html -->
<div class="container-fluid page-body-wrapper">
<nav class="sidebar sidebar-offcanvas" id="sidebar">
  <ul class="nav">
    {% if user_info %}

    <li class="nav-item nav-profile">
      <div class="nav-link">

        <div class="profile-name">
          {% if user.is_authenticated%}
          <p class="name">{{user.first_name}} {{user.last_name}}</p>
          <p class="designation">{{user.email}}</p>

          {% endif %}
        </div>
      </div>
    </li>
    {% else %}
    <p>Welcome, Guest!</p>
{% endif %}
{% if request.has_active_subscription %}
    <li class="nav-item">
      <a class="nav-link" href="{% url 'quiz:index' %}">
        <i class="fa fa-th-large menu-icon"></i>
        <span class="menu-title">Dashboard</span>
      </a>
    </li>


    <li class="nav-item">
      <a class="nav-link" href="{% url 'quiz:quiz_create' %}">
        <i class="fa fa-puzzle-piece menu-icon"></i>
        <span class="menu-title">Question Bank</span>
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link" href="#">
        <i class="fa fa-clock menu-icon"></i>
        <form method="POST" action="{% url 'quiz:quizzes' %}">
          {% csrf_token %}
          <button type="submit"  style="padding-left: 0;" class="btn btn-link menu-title">Readiness assessment </button>
        </form>
      </a>
    </li>

    <!-- <li class="nav-item">
      <a class="nav-link" href="#">
        <i class="fa fa-clock menu-icon"></i>
        <form method="POST" action="{% url 'quiz:quizzes' %}">
          {% csrf_token %}
          <button type="submit"  style="padding-left: 0;" class="btn btn-link menu-title"></button>
        </form>
      </a>
    </li> -->

    <!-- <li class="nav-item">
      <a class="nav-link" href="{% url 'quiz:quiz_readiness' %}">
        <i class="fa fa-clock menu-icon"></i>
        <span class="menu-title">Readiness assessment </span>
      </a>
    </li> -->

    <li class="nav-item">
      <a class="nav-link" href="{% url 'quiz:enrolled_courses' %}">
        <i class="fa fa-graduation-cap menu-icon"></i>
        <span class="menu-title">Previous Tests</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'quiz:quiz_attempts' %}">
        <i class="fa fa-cubes menu-icon"></i>
        <span class="menu-title">Lecture</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'quiz:myprofile' %}">
        <i class="far fa-user-circle menu-icon"></i>
        <span class="menu-title">My Profile</span>
      </a>
    </li>
    <li class="nav-item">
                <a class="nav-link" href="{% url 'quiz:subscription' %}">
                  <i class="fa fa-fire menu-icon"></i>
                  <span class="menu-title">Subscribe</span>
                </a>
              </li>
<li class="nav-item">
<a class="nav-link" href="{% url 'quiz:help' %}">
<i class="fa fa-question-circle menu-icon"></i>
<span class="menu-title">Help</span>
</a>
</li>
<li class="nav-item">
<a class="nav-link" href="{% url 'quiz:settings' %}">
<i class="fa fa-cog menu-icon"></i>
<span class="menu-title">Settings</span>
</a>
</li>

    {% endif %}
    {% if not request.has_active_subscription %}
              <li class="nav-item">
                <a class="nav-link" href="{% url 'quiz:subscription' %}">
                  <i class="fa fa-fire menu-icon"></i>
                  <span class="menu-title">Subscribe</span>
                </a>
              </li>

              <li class="nav-item">
                <a class="nav-link" href="{% url 'quiz:myprofile' %}">
                  <i class="far fa-user-circle menu-icon"></i>
                  <span class="menu-title">My Profile</span>
                </a>
              </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'quiz:help' %}">
        <i class="fa fa-question-circle menu-icon"></i>
        <span class="menu-title">Help</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'quiz:settings' %}">
        <i class="fa fa-cog menu-icon"></i>
        <span class="menu-title">Settings</span>
      </a>
    </li>
    {% endif %}
  </ul>
</nav>
<div class="main-panel">
    {% block body %}
    {% if not request.has_active_subscription %}
              <div class="alert alert-warning" role="alert", style="padding-top: 20%;">
                You don't have an active subscription. Please subscribe to access all features.
              </div>
            {% endif %}
    {% endblock body %}

       <!-- content-wrapper ends -->
    <!-- partial:partials/_footer.html -->
    <footer class="footer">
        <div class="d-sm-flex justify-content-center justify-content-sm-between">
          <span
            class="text-muted text-center text-sm-left d-block d-sm-inline-block"
            >Copyright © 2024 . All rights reserved.</span
          >
          <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center"
            >Renix Academy International </span>
        </div>
      </footer>
  </div>
</div>
<!--Start of Tawk.to Script-->
<script type="text/javascript">
  var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
  (function(){
  var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
  s1.async=true;
  s1.src='https://embed.tawk.to/621abf5c1ffac05b1d7c0d68/1fss7n120';
  s1.charset='UTF-8';
  s1.setAttribute('crossorigin','*');
  s0.parentNode.insertBefore(s1,s0);
  })();
  </script>
  <!--End of Tawk.to Script-->
    <script src="{% static 'vendors/js/vendor.bundle.base.js' %}"></script>
    <script src="{% static 'vendors/js/vendor.bundle.addons.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
    <script src="https://js.paystack.co/v2/inline.js"></script>
    <script src="{% static 'js/off-canvas.js' %}"></script>
    <script src="{% static 'js/hoverable-collapse.js' %}"></script>
    <script src="{% static 'js/misc.js' %}"></script>
    <script src="{% static 'js/settings.js' %}"></script>
    <script src="{% static 'js/todolist.js' %}"></script>
    <script src="{% static 'js/dashboard.js' %}"></script>
    <script src="{% static 'js/wizard.js' %}"></script>
    <script src="{% static 'js/quiz.js' %}"></script>
    <script src="{% static 'js/avgrund.js' %}"></script>
    <script src="{% static 'js/progress-bar.js' %}"></script>
  </body>
</html>
