{% extends 'dashboard/base.html' %} {% load static %} {% block body %}
<div class="content-wrapper">
  <div class="page-header">
    <h3 class="page-title">Create Questions</h3>
  </div>
  <div class="col-md-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Computerized Adaptive Testing Experience</h4>
        <p class="card-description col-md-8">
          Within the computerized adaptive testing (CAT) experience optimal
          questions will be selected based on previous responses. At the end of
          the test, you will be able to see your test performance, your level of
          preparedness, and the difficulty factor of the questions you answered.
        </p>
        <h4 class="card-title">Subjects</h4>
        <form>
          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <div class="form-check">
                  <label class="form-check-label">
                    <input type="checkbox" class="form-check-input" />
                    Management of Care (238)
                  </label>
                </div>
                <div class="form-check">
                  <label class="form-check-label">
                    <input type="checkbox" class="form-check-input" checked />
                    Safety and Infection Control (238)
                  </label>
                </div>
                <div class="form-check">
                  <label class="form-check-label">
                    <input type="checkbox" class="form-check-input" disabled />
                    Health Promotion and Maintenance (238)
                  </label>
                </div>
                <div class="form-check">
                  <label class="form-check-label">
                    <input
                      type="checkbox"
                      class="form-check-input"
                      disabled
                      checked
                    />
                    Psychosocial Integrity (238)
                  </label>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <div class="form-check">
                  <label class="form-check-label">
                    <input type="checkbox" class="form-check-input" />
                    Basic Care and Comfort (238)
                  </label>
                </div>
                <div class="form-check">
                  <label class="form-check-label">
                    <input type="checkbox" class="form-check-input" checked />
                    Pharmacological and Parenteral Therapies (238)
                  </label>
                </div>
                <div class="form-check">
                  <label class="form-check-label">
                    <input type="checkbox" class="form-check-input" disabled />
                    Reduction of Risk Potential (238)
                  </label>
                </div>
                <div class="form-check">
                  <label class="form-check-label">
                    <input
                      type="checkbox"
                      class="form-check-input"
                      disabled
                      checked
                    />
                    Physiological Adaptation (238)
                  </label>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <div class="form-check">
                  <label class="form-check-label">
                    <input type="checkbox" class="form-check-input" />
                    Adult Health (238)
                  </label>
                </div>
                <div class="form-check">
                  <label class="form-check-label">
                    <input type="checkbox" class="form-check-input" checked />
                    Child Health (238)
                  </label>
                </div>
                <div class="form-check">
                  <label class="form-check-label">
                    <input type="checkbox" class="form-check-input" disabled />
                    Critical Care (238)
                  </label>
                </div>
                <div class="form-check">
                  <label class="form-check-label">
                    <input
                      type="checkbox"
                      class="form-check-input"
                      disabled
                      checked
                    />
                    Fundamentals (238)
                  </label>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <div class="form-check">
                  <label class="form-check-label">
                    <input type="checkbox" class="form-check-input" />
                    Leadership & Management (238)
                  </label>
                </div>
                <div class="form-check">
                  <label class="form-check-label">
                    <input type="checkbox" class="form-check-input" checked />
                    Maternal & Newborn Health (238)
                  </label>
                </div>
                <div class="form-check">
                  <label class="form-check-label">
                    <input type="checkbox" class="form-check-input" disabled />
                    Mental Health (238)
                  </label>
                </div>
                <div class="form-check">
                  <label class="form-check-label">
                    <input
                      type="checkbox"
                      class="form-check-input"
                      disabled
                      checked
                    />
                    Pharmacology (238)
                  </label>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <div class="form-check">
                  <label class="form-check-label">
                    <input type="checkbox" class="form-check-input" />
                    Postpartum (238)
                  </label>
                </div>
                <div class="form-check">
                  <label class="form-check-label">
                    <input type="checkbox" class="form-check-input" checked />
                    Prioritization (238)
                  </label>
                </div>
                <div class="form-check">
                  <label class="form-check-label">
                    <input type="checkbox" class="form-check-input" disabled />
                    Newborn (238)
                  </label>
                </div>
                <div class="form-check">
                  <label class="form-check-label">
                    <input
                      type="checkbox"
                      class="form-check-input"
                      disabled
                      checked
                    />
                    Assignment/Delegation (238)
                  </label>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="col-md-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Number of Questions</h4>
        <form class="forms-sample">
          <div class="form-group row">
            <div class="col-sm-1">
              <input
                type="text"
                class="form-control"
                id="exampleInputUsername2"
                placeholder="0"
              />
            </div>
            <label for="exampleInputUsername2" class="col-sm-3 col-form-label"
              >Max allowed per block (33,238)
            </label>
          </div>

          <button type="submit" class="btn btn-primary btn-lg btn-block">
            Generate Test
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
{%endblock body %}
