{% extends 'dashboard/base.html' %} {% load static %}  {% block body %}

<div class="content-wrapper">
  <div class="page-header">
    <h3 class="page-title">Previous Tests</h3>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Orders</h4>
          <div class="row grid-margin"></div>
          <div class="row">
            <div class="col-12">
              <div class="table-responsive">
                <table id="order-listing" class="table">
                  <thead>
                    <tr class="bg-primary text-white">
                      <th>TEST ID #</th>
                      <th>DATE</th>
                      <th>MODE</th>
                      <th>SUBJECT(S)</th>
                      <th>SCORE</th>
                      <th>ACTIONS</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for quiz in quizzes %}
                    <tr>
                      <td>WD-{{ quiz.uid|truncatechars:8 }}</td>
                      <td>{{quiz.created_at}}</td>
                      <td>{% if quiz.exam_mode %}
                        Exam Mode
                    {% else %}
                        Study Mode
                    {% endif %}
                  </td>
                      <td>
                        {% if quiz.given_question. %}
                          Single
                        {% else %}
                        Multiple
                        {% endif %}
                        </td>
                      <td>
                        <label class="badge ">{{ quiz.marks }}/{{ quiz.total_marks }}</label>
                      </td>
                      <td class="text-right">
                        <a
                        href="{% url 'quiz:quiz_questions' %}?quiz_id={{ quiz.uid }}" class="btn btn-light">
                          <i class="fa fa-eye text-primary"></i> View
                      </a>
                        <a href="{% url 'quiz:retake_quiz' %}?quiz_id={{ quiz.uid }}" class="btn btn-light">
                          <i class="fa fa-play text-success"></i> Re-take
                        </a>
                        <!-- <a class="btn btn-light" href="">
                          <i class="fa fa-bolt text-primary"></i> Analytics
                        </a> -->
                      </td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="6">No enrolled courses found.</td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{%endblock body %}
