{% extends 'dashboard/base.html' %} {% load static %} {% block body %}
<div class="content-wrapper">
  <div class="page-header">
    <h3 class="page-title">Help</h3>
  </div>
  <div class="row">
    <div class="col-12 col-md-6">
      <div class="row">
        <div class="col-12 grid-margin">
          <div class="card">
            <div class="faq-block card-body">
              <div class="container-fluid py-2">
                <h5 class="mb-0">How to Use</h5>
              </div>
              <div id="accordion-3" class="accordion">
                <div class="card">
                  <div class="card-header" id="headingOne-3">
                    <h5 class="mb-0">
                      <a data-toggle="collapse" data-target="#collapseOne-3" aria-expanded="true" aria-controls="collapseOne-3"> How to Use the Renix Academy Platform for an Enriched Learning Experience </a>
                    </h5>
                  </div>
                  <div id="collapseOne-3" class="collapse show" aria-labelledby="headingOne-3" data-parent="#accordion-3">
                    <div class="card-body">
                      <ol>
                        <li>Create an account to get started.</li>
                        <li>Choose a learning package that best suits your needs.</li>
                        <li>Subscribe to your selected package.</li>
                        <li>Log in to gain full access after subscribing.</li>
                        <li>Explore the dashboard and familiarize yourself with its features.</li>
                        <li>Access the question bank and create practice tests in either Study Mode or Exam Mode.</li>
                        <li>Take the readiness assessment to evaluate your exam preparedness.</li>
                        <li>Review your performance after each test to track progress and identify areas for improvement.</li>
                      </ol>
                    </div>
                  </div>
                </div>
                <div class="card">
                  <div class="card-header" id="headingTwo-3">
                    <h5 class="mb-0">
                      <a data-toggle="collapse" data-target="#collapseTwo-3" aria-expanded="false" aria-controls="collapseTwo-3"> What is Renix Academy International? </a>
                    </h5>
                  </div>
                  <div id="collapseTwo-3" class="collapse" aria-labelledby="headingTwo-3" data-parent="#accordion-3">
                    <div class="card-body">Renix Academy International is the premier learning environment for aspiring Nigerian nurses and midwives. It was developed by practicing nurses and seasoned educators in nursing and midwifery to provide a smarter, more effective way of learning.</div>
                  </div>
                </div>
                <div class="card">
                  <div class="card-header" id="headingThree-3">
                    <h5 class="mb-0">
                      <a data-toggle="collapse" data-target="#collapseThree-3" aria-expanded="false" aria-controls="collapseThree-3"> Who Founded the Academy? </a>
                    </h5>
                  </div>
                  <div id="collapseThree-3" class="collapse" aria-labelledby="headingThree-3" data-parent="#accordion-3">
                    <div class="card-body">Renix Academy was founded by Merchant Nurse, a well-known figure in the Nigerian nursing community.</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6">
      <div class="row">
        <div class="col-12 grid-margin">
          <div class="card">
            <div class="faq-block card-body">
              <div class="container-fluid py-2">
                <h5 class="mb-0">FAQs</h5>
              </div>
              <div id="accordion-3" class="accordion">
                <div class="card">
                  <div class="card-header" id="headingOne-4">
                    <h5 class="mb-0">
                      <a data-toggle="collapse" data-target="#collapseOne-4" aria-expanded="true" aria-controls="collapseOne-4"> How long is my subscription? </a>
                    </h5>
                  </div>
                  <div id="collapseOne-4" class="collapse show" aria-labelledby="headingOne-4" data-parent="#accordion-4">
                    <div class="card-body">The Academy currently offers a monthly subscription, valid for 30 days.</div>
                  </div>
                </div>
                <div class="card">
                  <div class="card-header" id="headingTwo-5">
                    <h5 class="mb-0">
                      <a data-toggle="collapse" data-target="#collapseTwo-5" aria-expanded="false" aria-controls="collapseTwo-5"> How do I Log in to the Platform? </a>
                    </h5>
                  </div>
                  <div id="collapseTwo-5" class="collapse" aria-labelledby="headingTwo-5" data-parent="#accordion-5">
                    <div class="card-body">To log in, simply use the email address and password you registered with. The Academy recommends using a Gmail account when creating your account for the best experience.</div>
                  </div>
                </div>

                <div class="card">
                  <div class="card-header" id="headingThree-8">
                    <h5 class="mb-0">
                      <a data-toggle="collapse" data-target="#collapseThree-8" aria-expanded="false" aria-controls="collapseThree-8"> Would I Lose My Previous Practice if I Subscribe After My Account Expires? </a>
                    </h5>
                  </div>
                  <div id="collapseThree-8" class="collapse" aria-labelledby="headingThree-8" data-parent="#accordion-8">
                    <div class="card-body">Yes. If your subscription has already expired, you will lose access to your previous practice records. However, if you renew your subscription before your account expires (for example, within 1–5 days before expiration), you will retain your past performance data and continue to have uninterrupted access to the platform.</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{%endblock body %}
