{% extends 'dashboard/base.html' %} {% load static %} {% block body %}

<!-- partial -->

<div class="content-wrapper">
  <div class="page-header">
    <h3 class="page-title">Dashboard</h3>
  </div>
  {% comment %}
  <div class="row grid-margin">
    <div class="col-12">
      <div class="card card-statistics">
        <div class="card-body">
          <div class="d-flex flex-column flex-md-row align-items-start">
            <div class="statistics-item">
              <p>
                <i class="icon-sm fa fa-graduation-cap mr-2"></i>
                Enrolled Courses
              </p>
              <h2>{{enrolled_courses}}</h2>
              <label class="badge badge-outline-success badge-pill">12% increase</label>
            </div>
            <div class="statistics-item">
              <p>
                <i class="icon-sm fa fa-graduation-cap mr-2"></i>
                Total Questions
              </p>
              <h2>{{total_questions}}</h2>
              <label class="badge badge-outline-success badge-pill">12% increase</label>
            </div>
            <div class="statistics-item">
              <p>
                <i class="icon-sm fa fa-graduation-cap mr-2"></i>
                Used Question
              </p>
              <h2>{{total_answered}}</h2>
              <label class="badge badge-outline-success badge-pill">12% increase</label>
            </div>
            <div class="statistics-item">
              <div class="statistics-item">
                <p>
                  <i class="icon-sm fa fa-graduation-cap mr-2"></i>
                  Remaining Questions
                </p>
                <h2>{{total_remaining}}</h2>
                <label class="badge badge-outline-success badge-pill">12% increase</label>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% endcomment %}
      <div class="row">
        <div class="col-lg-6 grid-margin stretch-card">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">Monitor Your Progress</h4>
              <h6 class="text-muted">Overall Completion</h6>
              <div class="row" style="padding-left: 10px">
                <h4 class="card-title">10,023 1</h4>
                <h4 class="card-title text-muted">/19,001</h4>
              </div>
              <div class="d-flex mb-3">
                <div class="progress progress-md flex-grow">
                  <div
                    class="progress-bar bg-primary"
                    role="progressbar"
                    aria-valuenow="55"
                    style="width: 55%"
                    aria-valuemin="0"
                    aria-valuemax="100"
                  ></div>
                </div>
              </div>
              <br />
              <h6 class="text-muted">Study Plan Progress</h6>
              <div class="row" style="padding-left: 10px">
                <h6 class="card-title">5</h6>
                <h6 class="card-title text-muted">/100</h6>
              </div>
              <div class="d-flex">
                <div class="progress progress-md flex-grow">
                  <div
                    class="progress-bar bg-success"
                    role="progressbar"
                    aria-valuenow="75"
                    style="width: 5%"
                    aria-valuemin="0"
                    aria-valuemax="100"
                  ></div>
                </div>
              </div>
              <br />
            </div>
          </div>
        </div>
        <div class="col-lg-6 grid-margin stretch-card">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">Performance Summary</h4>
              <div class="row" style="padding-left: 10px">
                <div class="col-sm-3 col-md-2 col-8 circle-progress-block">
                  <div id="circleProgress1" class="progressbar-js-circle rounded p-3"></div>
                </div>
                <div class="col-9">
                  <div class="template-demo">
                    <table class="table mb-0">
                      <thead>
                        <tr>
                          <th class="pl-0">Question Performance</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td class="pl-1">Correct</td>
                          <td class="pr-0 text-right">
                            <div class="badge badge-primary">7799</div>
                          </td>
                        </tr>

                        <tr>
                          <td class="pl-0">Incorrect</td>
                          <td class="pr-0 text-right">
                            <div class="badge badge-primary">6123</div>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>

              <div class="row" style="padding-left: 10px">
                <div class="col-sm-3 col-md-2 col-8 circle-progress-block">
                  <div id="circleProgress2" class="progressbar-js-circle rounded p-3"></div>
                </div>
                <div class="col-9">
                  <div class="template-demo">
                    <table class="table mb-0">
                      <thead>
                        <tr>
                          <th class="pl-0">Points Scored</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td class="pl-1">Scored Points</td>
                          <td class="pr-0 text-right">
                            <div class="badge badge-primary">22678</div>
                          </td>
                        </tr>

                        <tr>
                          <td class="pl-0">Max Points</td>
                          <td class="pr-0 text-right">
                            <div class="badge badge-primary">33645</div>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-12 stretch-card">
        <div class="card" style="justify-content: center; align-items: center; display: flex">
          <div class="card-body" style="justify-content: center; align-items: center">
            <a
              class="navbar-brand brand-logo-mini"
              href="#"
              style="justify-content: center; align-items: center"
            >
              <img src="{% static 'images/plan.png' %}" height="150px" weight="50px" alt="logo"
            /></a>
            <h3 class="card-title" style="text-align: center">We’ll Keep You On Track!</h3>
            <p class="card-description" style="text-align: center">
              Setup your custom Study Plan so you can be exam day ready. Just answer a few questions
              <br />and we’ll take care of the rest!
            </p>
            <div class="template-demo" style="text-align: center">
              <a class="nav-link" href="#">
                <span class="btn btn-primary">Set Up Your Study Plan</span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Include jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- Include Flot -->
    <script src="https://cdn.jsdelivr.net/npm/flot@4.2.2/dist/es5/jquery.flot.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/flot@4.2.2/dist/es5/jquery.flot.pie.js"></script>

    <script>
      var data = [
        {
          data: {{total_remaining}},
          color: "#FABA66",
          label: "Unanswered",
        },
        {
          data: {{total_wrong}},
          color: "#F36368",
          label: "Failed",
        },
        {
          data: {{total_correct}},
          color: "#63CF72",
          label: "Successful",
        },
      ];

      function labelFormatter(label, series) {
        return (
          "<div style='font-size:8pt; text-align:center; padding:2px; color:white;'>" +
          label +
          "<br/>" +
          Math.round(series.percent) +
          "%</div>"
        );
      }

      $(function () {
        if ($("#pie-chart").length) {
          $.plot("#pie-chart", data, {
            series: {
              pie: {
                show: true,
                radius: 1,
                label: {
                  show: true,
                  radius: 3 / 4,
                  formatter: labelFormatter,
                  background: {
                    opacity: 0.5,
                  },
                },
              },
            },
            legend: {
              show: false,
            },
          });
        }
      });
    </script>

    {% endblock body %}
  </div>
</div>
