{% extends 'dashboard/base.html' %} 
{% load static %} 
{% load custom_filters %}
{% block body %}

<!-- partial -->

<div class="content-wrapper" >
  <div class="col-12">
  <div class="page-header">
    <h3 class="page-title">Dashboard</h3>
  </div>


      <div class="row">
        <div class="col-lg-6 grid-margin stretch-card">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">Monitor Your Progress</h4>
              <h6 class="text-muted">Progress Statistics</h6>
              <div class="row" style="padding-left: 10px">
                <h4 class="card-title">{{total_answered}}</h4>
                <h4 class="card-title text-muted">/{{total_questions}}</h4>
              </div>
              <div class="d-flex mb-3">
                <div class="progress progress-md flex-grow">
                  {% if total_questions >= 0 %} 
                    {% with percentage_completed=total_answered|floatdiv:total_questions|floatmul:100 %}
                    <div
                      class="progress-bar bg-primary"
                      role="progressbar"
                      aria-valuenow="{{ percentage_completed }}"
                      style="width: {{ percentage_completed }} %"
                      aria-valuemin="0"
                      aria-valuemax="100"
                    >
                    </div>
                  </div>
                </div>
            
                {% endwith %} 
              {% endif %}
            
              <br />
              <h6 class="text-muted">Study Plan Progress</h6>
              <div class="row" style="padding-left: 10px">
                <h6 class="card-title">1</h6>
                <h6 class="card-title text-muted">/0</h6>
              </div>
              <div class="d-flex">
                <div class="progress progress-md flex-grow">
                  <div
                    class="progress-bar bg-success"
                    role="progressbar"
                    aria-valuenow="75"
                    style="width: 5%"
                    aria-valuemin="0"
                    aria-valuemax="100"
                  ></div>
                </div>
              </div>
              <br />
            </div>
          </div>
        </div>
        <div class="col-lg-6 grid-margin stretch-card">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">Performance Overview</h4>
              <div class="row" style="padding-left: 10px">
                <div class="col-sm-3 col-md-2 col-8 circle-progress-block">
                  <div id="circleProgress1" class="progressbar-js-circle rounded p-3"></div>
                </div>
                <div class="col-9">
                  <div class="template-demo">
                    <table class="table mb-0">
                      <thead>
                        <tr>
                          <th class="pl-0">Question Performance</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td class="pl-1">Correct</td>
                          <td class="pr-0 text-right">
                            <div class="badge badge-primary">{{total_correct}}</div>
                          </td>
                        </tr>

                        <tr>
                          <td class="pl-0">Incorrect</td>
                          <td class="pr-0 text-right">
                            <div class="badge badge-primary">{{total_wrong}}</div>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>

              <div class="row" style="padding-left: 10px">
                <div class="col-sm-3 col-md-2 col-8 circle-progress-block">
                  <div id="circleProgress2" class="progressbar-js-circle rounded p-3"></div>
                </div>
                <div class="col-9">
                  <div class="template-demo">
                    <table class="table mb-0">
                      <thead>
                        <tr>
                          <th class="pl-0">Points Scored</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td class="pl-1">Scored Points</td>
                          <td class="pr-0 text-right">
                            <div class="badge badge-primary">{{enrolled_courses}}</div>
                          </td>
                        </tr>

                        <tr>
                          <td class="pl-0">Max Points</td>
                          <td class="pr-0 text-right">
                            <div class="badge badge-primary">{{total_remaining}}</div>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-12 stretch-card">
        <div class="card" style="justify-content: center; align-items: center; display: flex">
          <div class="card-body" style="justify-content: center; align-items: center">
            <a
              class="navbar-brand brand-logo-mini"
              href="#"
              style="justify-content: center; align-items: center"
            >
              <img src="{% static 'images/plan.png' %}" height="150px" weight="50px" alt="logo"
            /></a>
            <h3 class="card-title" style="text-align: center">We’ll Keep You On Track!</h3>
            <p class="card-description" style="text-align: center">
              Setup your custom Study Plan so you can be exam day ready. Just answer a few questions
              <br />and we’ll take care of the rest!
            </p>
            <div class="template-demo" style="text-align: center">
              <a class="nav-link" href="{% url 'quiz:enrolled_courses' %}">
                <span class="btn btn-primary">Previous test</span>
              </a>
            </div>
          </div>
        </div>
      </div>
    
    <!-- Include jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- Include Flot -->
    <script src="https://cdn.jsdelivr.net/npm/flot@4.2.2/dist/es5/jquery.flot.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/flot@4.2.2/dist/es5/jquery.flot.pie.js"></script>

    <script>
      var data = [
        {
          data: {{total_remaining}},
          color: "#FABA66",
          label: "Unanswered",
        },
        {
          data: {{total_wrong}},
          color: "#F36368",
          label: "Failed",
        },
        {
          data: {{total_correct}},
          color: "#63CF72",
          label: "Successful",
        },
      ];

      function labelFormatter(label, series) {
        return (
          "<div style='font-size:8pt; text-align:center; padding:2px; color:white;'>" +
          label +
          "<br/>" +
          Math.round(series.percent) +
          "%</div>"
        );
      }

      $(function () {
        if ($("#pie-chart").length) {
          $.plot("#pie-chart", data, {
            series: {
              pie: {
                show: true,
                radius: 1,
                label: {
                  show: true,
                  radius: 3 / 4,
                  formatter: labelFormatter,
                  background: {
                    opacity: 0.5,
                  },
                },
              },
            },
            legend: {
              show: false,
            },
          });
        }
      });
    </script>

    {% endblock body %}
  </div>
</div>
