{% extends 'dashboard/base.html' %} {% load static %} {% block body %}

<div class="content-wrapper">
  <div class="page-header">
    <h3 class="page-title">READINESS ASSESSMENT</h3>

   
  </div>
    <ul>
      <li>This is the idea sample of questions you are likely to be confronted with during your Post UTME/Nursing School<br>entrance examination, covering all areas of this practice app and they are structured to test how prepared you are to take your exam.</li>
      <li>Total questions in each assessment are 250 and it will last 180 minutes.</li>
      <li>Once you start you cannot pause the assessment</li>
      <li>You will need to have your own calculator to work on the calculations.</li>
      <li>At the end of the assessment your results will be reviewed and ranked according to how you perform compared to<br>other candidate who have taken this assessment</li>
      <li>The algorithm will analysis your results and give you the probability of you passing this exam with your level of<br>preparedness</li>
      <li>You can decide to end the practice halfway and the system will rank your performance with respect to total questions</li>
    </ul>
     
   
   
  <div class="card-columns">
    <form action="" class=" ">
      <div class="card">
       
        <div class="card-body">
          <h5 class="card-title">
            {% if context.plan ==  "College_Entrance" %}
            Post UTME/School of Nursing<br>Entrance Examination  Self-Assessment 1
        {% elif context.plan == "Final_Year_Student_RN" %}
            Final Year Nursing Students<br>Self-Assessment 1
        {% elif context.plan == "Prequalify_Hospital_Final_RN" %}
            Prequalifying/Hospital Final Nursing<br> Students Self-Assessment 1
        {% elif context.plan == "NMCNN_Final_Year_RM" %}
            Final Year Nursing Students<br>Self-Assessment 1
        {% elif context.plan == "Hospital_Final_NMCN" %}
            Prequalifying/Hospital Final Nursing<br>Students Self-Assessment 1
        {% endif %}
          </h5>
         
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            250 Questions
          </li>

          <li class="list-group-item">180 Minites</li>
        </ul>
        <div class="card-body">
          <a href="{% url 'quiz:quiz_readiness' %}"
          class="btn btn-primary btn-block">
          Start button here 
        </a>
         
        </div>
      </div>

      <div class="card">
       
        <div class="card-body">
          <h5 class="card-title">
        {% if context.plan ==  "College_Entrance" %}
            Post UTME/School of Nursing<br>Entrance Examination  Self-Assessment 2
        {% elif context.plan == "Final_Year_Student_RN" %}
            Final Year Nursing Students<br>Self-Assessment 2
        {% elif context.plan == "Prequalify_Hospital_Final_RN" %}
            Prequalifying/Hospital Final Nursing<br> Students Self-Assessment 2
        {% elif context.plan == "NMCNN_Final_Year_RM" %}
            Final Year Nursing Students<br>Self-Assessment 2
        {% elif context.plan == "Hospital_Final_NMCN" %}
            Prequalifying/Hospital Final Nursing<br>Students Self-Assessment 2
        {% endif %}
         
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            250 Questions
          </li>

          <li class="list-group-item">180 Minites</li>
        </ul>
        <div class="card-body">
          <a href="{% url 'quiz:quiz_readiness' %}"
          class="btn btn-primary btn-block">
          Start button here 
        </a>
        </div>
      </div>

      <div class="card">
       
        <div class="card-body">
          <h5 class="card-title">
            {% if context.plan ==  "College_Entrance" %}
            Post UTME/School of Nursing<br>Entrance Examination  Self-Assessment 3
        {% elif context.plan == "Final_Year_Student_RN" %}
            Final Year Nursing Students<br>Self-Assessment 3
        {% elif context.plan == "Prequalify_Hospital_Final_RN" %}
            Prequalifying/Hospital Final Nursing<br> Students Self-Assessment 3
        {% elif context.plan == "NMCNN_Final_Year_RM" %}
            Final Year Nursing Students<br>Self-Assessment 3
        {% elif context.plan == "Hospital_Final_NMCN" %}
            Prequalifying/Hospital Final Nursing<br>Students Self-Assessment 3
        {% endif %}
          </h5>
         
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            250 Questions
          </li>

          <li class="list-group-item">180 Minites</li>
        </ul>
        <div class="card-body">
          <a href="{% url 'quiz:quiz_readiness' %}"
          class="btn btn-primary btn-block">
          Start button here 
        </a>
        </div>
      </div>
    </form>
  </div>
</div>

{%endblock body %}
