{% extends 'dashboard/base.html' %} {% load static %} {% block body %}

<div class="content-wrapper">
  <div class="page-header">
    <h3 class="page-title">Quiz History</h3>
  </div>
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">Attempted Quiz</h4>
      <div class="row">
        <div class="col-12">
          <div class="table-responsive">
            <table id="order-listing" class="table">
              <thead>
                <tr>
                  <th>Order #</th>
                  <th>Question Bank</th>
                  <th>Start Date</th>
                  <th>End Date</th>
                  <th>Score</th>
                  <th>Status</th>
                </tr>
              </thead>
              <tbody>
                {% for category in quizzes %}
                <tr>
                  <td>{{ forloop.counter }}</td>
                  <td>{{category.category.name|title}}</td>

                  <td>{{category.start_time}}</td>
                  <td>{{category.end_time}}</td>
                  <td>{{category.marks}}</td>
                  <td>
                    {% if category.status == 'yes' %}
                    <label class="badge badge-success">Successful</label>
                    {% else %}
                    <label class="badge badge-danger">Failed</label>
                    {% endif %}
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{%endblock body %}
