{% extends 'dashboard/base.html' %} {% load static %} {% block body %}
<style>
  .answerList * {
    background: transparent !important;
    background-color: transparent !important;
  }
  .quiz-content * {
    background: transparent !important;
    background-color: transparent !important;
  }
  .strikethrough {
    text-decoration: line-through;
    opacity: 0.8;
  }
</style>
<div class="content-wrapper">
  <div class="content-wrapper">
    <div class="page-header">
      <h3 class="page-title">{{ quiz.topic.category.name }} - Questions and Answers</h3>
    </div>
  </div>
  <div class="col-md-8 mx-auto">
    <ul>
      {% for item in questions %}
      <div>
        <br />
        <br />
        <p>
          <strong class="quiz-content">{{ forloop.counter }}. {{ item.question.question|safe }}</strong>
        </p>
        <ul>
          {% for answer in item.answers %}

          <li
            class="list-group-item list-group-item-action list-group-item-primary mt-3 answerList"
            style="
            {% if answer.uid == item.selected_answer.uid %}
                {% if answer.is_correct %}
                    background-color: lightgreen;
                {% else %}
                    background-color: #FFA4A4;
                {% endif %}
            {% elif answer.is_correct %}
                background-color: lightgreen;
            {% else %}
                background-color: #e0dafeff;
            {% endif %}"
          >
            <span style="background: none !important; background-color: transparent !important; display: inline-block">
              <span class="{% if answer.uid == item.selected_answer.uid and not answer.is_correct %} strikethrough {% endif %}"> {{ answer.answer|safe }} <br /></span>

              <strong>Reason:</strong> {{ answer.reason|safe }}
            </span>
          </li>
          {% endfor %}
        </ul>
      </div>
      {% endfor %}
    </ul>
  </div>
</div>

{% endblock %}
