{% extends 'dashboard/base.html' %} {% load static %} {% block body %} {% load custom_filters %}
<style>
  .answerList * {
    font-family: inherit !important;
    background: transparent !important;
    background-color: transparent !important;
    text-transform: none !important;
  }
  .quiz-content * {
    font-family: inherit !important;
    background: transparent !important;
    background-color: transparent !important;
    text-transform: none !important;
  }
  .strikethrough {
    font-family: inherit !important;
    text-decoration: line-through;
    text-transform: none !important;
    opacity: 0.8;
  }

  .quiz-content p,
  .quiz-content span,
  .quiz-content strong,
  .quiz-content em,
  .quiz-content ul,
  .quiz-content ol,
  .quiz-content li {
    font-family: inherit !important;
    margin: 0;
    padding: 0;
  }
  .rich-answer * {
    font-family: inherit !important;
    margin-bottom: 0 !important;
    font-size: 14px !important;
  }
</style>
<div class="content-wrapper">
  <div class="content-wrapper">
    <div class="page-header">
      <h3 class="page-title">{{ quiz.topic.category.name }} - Questions and Answers</h3>
    </div>
  </div>
  <div class="col-md-8 mx-auto">
    <ul>
      {% for item in questions %}
      <div>
        <br />
        <br />
        <p>
          <strong class="quiz-content">{{ forloop.counter }}. {{ item.question.question|safe }}</strong>
        </p>
        <ul>
          {% for answer in item.answers %}

          <li
            class="list-group-item list-group-item-action list-group-item-primary mt-3 answerList"
            style="
            {% if answer.uid == item.selected_answer.uid %}
                {% if answer.is_correct %}
                    background-color: lightgreen;
                {% else %}
                    background-color: #FFA4A4;
                {% endif %}
            {% elif answer.is_correct %}
                background-color: lightgreen;
            {% else %}
                background-color: #e0dafeff;
            {% endif %}"
          >
            <span class="rich-answer" style="background: none !important; background-color: transparent !important; display: inline-block; text-transform: none !important; font-size: 14px !important">
              <span class="{% if answer.uid == item.selected_answer.uid and not answer.is_correct %} strikethrough {% endif %}" style="font-family: inherit !important text-transform: none !important; font-size: 14px !important"> {{ answer.answer|strip_empty_blocks|safe }}</span>
              <br />
              <strong style="font-family: inherit !important text-transform: none !important; font-size: 14px !important">Reason:</strong> {{ answer.reason|strip_empty_blocks|safe }}
            </span>
          </li>
          {% endfor %}
        </ul>
      </div>
      {% endfor %}
    </ul>
  </div>
</div>

{% endblock %}
