{% extends 'dashboard/base.html' %}
{% load static %}
{% block body %}
{% if correct_answer %}
    <style>
        .answer.correct {
            background-color: lightgreen;
        }
        .answer.incorrect {
            background-color: lightcoral;
        }
        .answer.selected {
            background-color: lightyellow;
        }
    </style>
{% endif %}
<div class="content-wrapper">
  <div class="content-wrapper">
    <div class="page-header">
      <h3 class="page-title">Quiz On {{ category|title }}</h3>

    <div class="timer">
      {% if quiz_mode == "Exam Mode" %}
  <div>Time Left: <span id="countdown"></span></div>
  {% elif quiz_mode == "Study Mode" %}
  <div>Time Elapsed: <span id="countup"></span></div>
  {% endif %}
    </div>
    

    </div>
  </div>

  <div class="col-md-8 mx-auto">
    <div
      class="mb-4 fw-semibold text-center d-flex justify-content-between form-control p-3 text-dark"
    >
      <h5>
        Marks :
        <span id="marks">{{ quiz.marks }}</span>/{{ quiz.total_marks }}
      </h5>
    </div>
    <form method="post" class="mt-4 p-4 text-capitalize form-control box_shadow">
      {% csrf_token %}
      {% if page_obj %}
          {% for question in page_obj.object_list %}
              <div class="fw-bold text-center fs-5 d-flex justify-content-between p-2">
                  <span id="{{ page_obj.number }}" class="questionP">{{ page_obj.number }}. {{ question.question }}</span>
                  <span>{{ question.mark }} Marks</span>
              </div>
  
              <div class="form-check">
                  {% for answer in question.answers.all %}
                      <ul class="list-group">
                          <li class="list-group-item answer
                           {% if study_mode %}
                              {% if answer.uid == selected_answer.uid and selected_answer %}
                                  {% if not selected_answer.is_correct %}
                                      incorrect
                                  {% else %}
                                      selected correct
                                  {% endif %}
                              {% elif answer.uid == correct_answer.uid %}
                                  correct
                              {% else %}
                                  {% if answer.is_correct %}
                                      correct
                                  {% else %}
                                      white
                                  {% endif %}
                              {% endif %} {% endif %} list-group-item-action list-group-item-primary mt-3 answerList" style="padding-left: 2rem;">
                              <input class="form-check-input me-1" type="radio" name="answer_{{ question.uid }}" value="{{ answer.uid }}"
                              {% if study_mode %}
                              {% if answer.uid == selected_answer.uid %}
                                  disabled
                              {% elif answer.uid == correct_answer.uid and selected_answer %}
                                  disabled
                              {% endif %}
                              {% endif %} />
                              {{ answer.answer }}
                          </li>
                      </ul>
                  {% endfor %}
              </div>
          {% endfor %}
          <button type="submit" class="btn btn-outline-primary mt-3">Submit</button>
      {% else %}
          <p>No questions found for this quiz.</p>
      {% endif %}
  </form>
  </div>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    {% if quiz_mode == "Exam Mode" %}
    var countdownElement = document.getElementById('countdown');
    var savedTimeLeft = localStorage.getItem('timeLeft');
    var timeLeft = savedTimeLeft ? parseInt(savedTimeLeft, 10) : 3600; // 10 minutes for example
  
    var countdownTimer = setInterval(function() {
      var minutes = Math.floor(timeLeft / 60);
      var seconds = timeLeft % 60;
      countdownElement.textContent = minutes + ":" + (seconds < 10 ? "0" + seconds : seconds);
      timeLeft--;
      localStorage.setItem('timeLeft', timeLeft); // Save the remaining time
  
      if (timeLeft < 0) {
        clearInterval(countdownTimer);
        localStorage.removeItem('timeLeft'); // Clear the saved time
        alert('Time is up!');
        document.forms[0].submit(); // auto-submit form when time is up
      }
    }, 1000);
  
    {% elif quiz_mode == "Study Mode" %}
    var countupElement = document.getElementById('countup');
    var savedTimeElapsed = localStorage.getItem('timeElapsed');
    var timeElapsed = savedTimeElapsed ? parseInt(savedTimeElapsed, 10) : 0;
  
    var countupTimer = setInterval(function() {
      var minutes = Math.floor(timeElapsed / 60);
      var seconds = timeElapsed % 60;
      countupElement.textContent = minutes + ":" + (seconds < 10 ? "0" + seconds : seconds);
      timeElapsed++;
      localStorage.setItem('timeElapsed', timeElapsed); // Save the elapsed time
    }, 1000);
  
    {% endif %}
  });

  
</script>
{% endblock body %}
