{% extends 'dashboard/base.html' %} {% load static %} {% block body %}
<div class="content-wrapper">
  <div class="page-header">
    <h3 class="page-title">Course listed</h3>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <div class="container text-center pt-5">
            <h4 class="mb-3 mt-5">Start up your Quiz Practice today {{current_plan}}</h4>
            <p class="w-75 mx-auto mb-5"></p>

            <div class="row pricing-table">
              {% comment %}
              <div class="col-md-4 grid-margin stretch-card pricing-card">
                <div class="card border border-success pricing-card-body">
                  <div class="text-center pricing-card-head">
                    <h3 class="text-success">College/Sch. of Nursing Entrance</h3>
                    <p>Paid plan</p>
                    <h1 class="font-weight-normal mb-4">₦5,000</h1>
                  </div>
                  <ul class="list-unstyled plan-features"></ul>
                  <div class="wrapper">
                    {% if current_plan == 'College/Sch. of Nursing Entrance' %}
                    <p class="text-success">Current Plan</p>
                    {% else %}
                    <button class="common_btn btn btn-success btn-block" onclick="payWithPaystack(30, 'College\/Sch._of_Nursing_Entrance'); return false;">Pay</button>
                    <p class="mt-3 mb-0 plan-cost text-success">or purchase now</p>
                    {% endif %}
                  </div>
                </div>
              </div>
              {% endcomment %}
              <div class="col-md-4 grid-margin stretch-card pricing-card">
                <div class="card border border-success pricing-card-body">
                  <div class="text-center pricing-card-head">
                    <h3 class="text-success">Prequalifying/Hospital Final for RN</h3>
                    <p>Paid plan</p>
                    <h1 class="font-weight-normal mb-4">₦5,000</h1>
                  </div>
                  <ul class="list-unstyled plan-features"></ul>
                  <div class="wrapper">
                    {% if current_plan|lower|cut:" " == 'prequalifying/hospitalfinalforrn' %}
                    <p class="text-success">Current Plan</p>
                    {% else %}
                    <button class="common_btn btn btn-success btn-block" onclick="payWithPaystack(30,'Prequalifying/Hospital Final  for RN'); return false;">Pay</button>
                    <p class="mt-3 mb-0 plan-cost text-success">or purchase now</p>
                    {% endif %}
                  </div>
                </div>
              </div>
              <div class="col-md-4 grid-margin stretch-card pricing-card">
                <div class="card border border-success pricing-card-body">
                  <div class="text-center pricing-card-head">
                    <h3 class="text-success">Prequalifying/Hospital Final for RM</h3>
                    <p>Paid plan</p>
                    <h1 class="font-weight-normal mb-4">₦5,000</h1>
                  </div>
                  <ul class="list-unstyled plan-features"></ul>
                  <div class="wrapper">
                    {% if current_plan|lower|cut:" " == 'prequalifying/hospitalfinalforrm' %}
                    <p class="text-success">Current Plan</p>
                    {% else %}
                    <button class="common_btn btn btn-success btn-block" onclick="payWithPaystack(30,'Prequalifying/Hospital Final  for RM' ); return false;">Pay</button>
                    <p class="mt-3 mb-0 plan-cost text-success">or purchase now</p>
                    {% endif %}
                  </div>
                </div>
              </div>
              <div class="col-md-4 grid-margin stretch-card pricing-card">
                <div class="card border border-success pricing-card-body">
                  <div class="text-center pricing-card-head">
                    <h3 class="text-success">NMCN Final Year Midwifery Student (RM)</h3>
                    <p>Paid plan</p>
                    <h1 class="font-weight-normal mb-4">₦5,000</h1>
                  </div>
                  <ul class="list-unstyled plan-features"></ul>
                  <div class="wrapper">
                    {% if current_plan|lower|cut:" " == 'nmcnfinalyearmidwiferystudent(rm)' %}
                    <p class="text-success">Current Plan</p>
                    {% else %}
                    <button class="common_btn btn btn-success btn-block" onclick="payWithPaystack(30, 'NMCN Final Year Midwifery Student (RM)'); return false;">Pay</button>
                    <p class="mt-3 mb-0 plan-cost text-success">or purchase now</p>
                    {% endif %}
                  </div>
                </div>
              </div>
            </div>

            <div class="row pricing-table">
              <div class="col-md-4 grid-margin stretch-card pricing-card">
                <div class="card border border-success pricing-card-body">
                  <div class="text-center pricing-card-head">
                    <h3 class="text-success">NMCN Final Year Nursing Student(RN)</h3>
                    <p>Paid plan</p>
                    <h1 class="font-weight-normal mb-4">₦5,000</h1>
                  </div>
                  <ul class="list-unstyled plan-features"></ul>
                  <div class="wrapper">
                    {% if current_plan|lower|cut:" " == 'nmcnfinalyearnursingstudent(rn)' %}
                    <p class="text-success">Current Plan</p>
                    {% else %}
                    <button class="common_btn btn btn-success btn-block" onclick="payWithPaystack(30,'NMCN Final Year Nursing Student(RN)'); return false;">Pay</button>
                    <p class="mt-3 mb-0 plan-cost text-success">or purchase now</p>
                    {% endif %}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="https://js.paystack.co/v1/inline.js"></script>
<script>
  function payWithPaystack(days, plan) {
    var firstName = "{{ user.first_name }}";
    var lastName = "{{ user.last_name }}";
    var email = "{{ user.email }}";
    var plan = plan;

    if (!plan) {
      console.error("Plan is not set");
      return;
    }

    var amount = days === 30 ? "500000" : "1250000";

    const paystack = new PaystackPop();
    paystack.newTransaction({
      key: "pk_test_91130c972c5af7ec4b37e1a4a9428eb128d41f68",
      email: email,
      amount: amount,
      currency: "NGN",

      onSuccess: (transaction) => {
        console.log("Paystack response:", transaction);

        var subscriptionUrl = "{% url 'quiz:create_subscription' days='30' plan='plan_placeholder'  %}".replace("30", days).replace("plan_placeholder", plan);
        window.location.href = subscriptionUrl;
      },
      onCancel: () => {
        window.location.href = "{{ failure_url }}";
      },
    });
    handler.openIframe();
  }
</script>
{% endblock body %}
