{% extends 'dashboard/base.html' %} {% load static %} {% block body %}

<div class="content-wrapper">
  <div class="page-header">
    <h3 class="page-title">Congratulations</h3>
  </div>
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card mt-5">
        <div class="card-body">
          <h2 class="text-center">Congratulations!</h2>
          <p class="text-center">You have successfully completed the quiz.</p>
          <!-- Add any additional content or messages here -->
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
