{% extends 'dashboard/base.html' %} {% load static %} {% block body %}

<div class="content-wrapper">
  <div class="page-header">
    <h3 class="page-title">Congratulations</h3>
  </div>
  <div class="row justify-content-center">
    <div class="col-md-6 grid-margin">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Congratulations!</h4>
          <p class="card-description">
            You have successfully completed the quiz.
          </p>
          <div class="card card-inverse-warning" id="context-menu-open">
            <div class="card-body">
              <p class="card-text">
                To Unlock more questions, upgrade to a paid subscription plan.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
