{% extends 'dashboard/base.html' %} {% load static %} {% block body %}

<div class="content-wrapper">
  <div class="page-header">
    <h3 class="page-title">Congratulations</h3>
  </div>
  <div class="row justify-content-center">
    <div class="col-md-6 grid-margin">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Congratulations!</h4>
          <p class="card-description">
            You have successfully completed the quiz.
          </p>
          <h4 class="card-title">Score: {{total_score}} / {{total_points}}</h4>
          <!-- <div class="card card-inverse-warning" id="context-menu-open">
            <div class="card-body">
              <p class="card-text">
                To Unlock more questions, upgrade to a paid subscription plan.
              </p>
            </div>
          </div> -->
          <h4 class="card-title"></h4>
          <h4 class="card-title"> <img height="20px" width="30px" src="https://t4.ftcdn.net/jpg/05/93/91/27/360_F_593912714_6pEIEP3YlFQkbwknHEYxQzbne5ZN6BlE.jpg" alt="Trophy"> Leaderboard:</h4>
          <table class="table">
            <thead>
              <tr class="bg-success">
                <th scope="col">#</th>
                <th scope="col">Username</th>
                <th scope="col">Scores</th>
                <th scope="col">Attempts</th>
              </tr>
            </thead>
            <tbody>
              {% for user in leaderboard %}
              <tr {% if user.is_current_user %}class="bg-warning"{% endif %}>
                <th scope="row">{{ forloop.counter }}</th>
                <td>{{ user.username }}</td>
                <td>{{ user.total_score }}</td>
                <td>{{ user.attempts }}</td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
<br>
<br>
          <div class="template-demo" style="text-align: center">
            <a class="nav-link" href="{% url 'quiz:index' %}">
              <span class="btn btn-primary">Proceed to home</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  document.addEventListener('DOMContentLoaded', function () {
    localStorage.removeItem('timeLeft');
    localStorage.removeItem('timeElapsed');
  });
</script>
{% endblock %}
